{% extends "base.html" %}

{% block title %}
    <title>聊天室</title>
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/time_tooltip.css' %}">    
{% endblock %}

{% block body %}
    <header> </header>

    <body onresize="resizeChatHistory()" onload="resizeChatHistory()">
        <h1>聊天室</h1>
        <p>目前没有消息存档功能, 只能在线接收, 刷新页面消息会清空</p>
        <div>
            <div id="online-users" style="margin: 0; padding: 0; overflow: hidden;"></div>
        </div>

        <div id="chat-log" style="height: 600px; overflow-y: auto;">
            {% for message in messages %}
                <p><strong>{{ message.username }}</strong>: {{ message.content }}</p>
            {% endfor %}
        </div>
    </body>

    <footer>
        <form id="chat-form">
            {% csrf_token %}
            <input type="text" id="username" value="{{ request.user.username }}" readonly style="display: none;">
            <textarea id="message-input" placeholder="输入消息"></textarea>
            <button id="message-submit" type="submit">发送</button>
        </form>
        <form id="countdown-form">
            {% csrf_token %}
            <button type="submit" id="cd_button" style="display: none;">countdown</button>
        </form>
    </footer>
{% endblock %}

{% block src %}
    {% load static %}
    <script src="{% static 'chat/js/time_tooltip.js' %}"></script>
    <script src="{% static 'chat/js/websocket.js' %}"></script>
    <script src="{% static 'chat/js/chat_history.js' %}"></script>
{% endblock %}
