{% extends "base.html" %}

{% block title %}
    <title>聊天室</title>
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/time_tooltip.css' %}">    
{% endblock %}

{% block body %}
    <header> </header>

    <body onresize="resizeChatHistory()" onload="resizeChatHistory()">
        <h1>聊天室</h1>
        <p>现在可以保存最近的 100 条消息了! (其实可以更多, 但是这样历史记录就太长了)</p>
        <div>
            <div id="online-users" style="margin: 0; padding: 0; overflow: hidden;"></div>
        </div>

        <div id="chat-log" style="height: 600px; overflow-y: auto;">
            {% for message in messages %}
                <p class="message" style="display: flex; flex-direction: row;">
                    <span class="time-container">
                        <small class="local-time"> {{ message.time|date:"H:i" }} </small>
                        <span class="tooltip">
                            {{ message.time|date:"Y M jS H:i:s O" }}
                        </span>
                    </span>
                    &nbsp;
                    <script type="text/template" style="display: block;">
                        {{ message.username }}: {{ message.message }}
                    </script>
                </p>
            {% endfor %}
        </div>
    </body>

    <footer>
        <form id="chat-form">
            {% csrf_token %}
            <input type="text" id="username" value="{{ request.user.username }}" readonly style="display: none;">
            <textarea id="message-input" placeholder="输入消息"></textarea>
            <button id="message-submit" type="submit">发送</button>
        </form>
        <!-- <form id="countdown-form">
            {% csrf_token %}
            <button type="submit" id="cd_button" style="display: none;">countdown</button>
        </form> -->
    </footer>
{% endblock %}

{% block src %}
    {% load static %}
    <script src="{% static 'chat/js/time_tooltip.js' %}"></script>
    <script src="{% static 'chat/js/websocket.js' %}"></script>
    <script src="{% static 'chat/js/chat_history.js' %}"></script>
{% endblock %}
