#status {
    color: gray;
    font-size: 2vmin;
    text-align: center;
    margin: 5px;
}


.player_box {
    display: flex;
    flex-direction: column;
}

.names {
    text-align: center;
    font-size: 3vmin;
    /* font-size: clamp(1vmin, calc(2vmin + 2px), 3vmin); */
    font-family:'Comic Sans MS', cursive, sans-serif;
    text-decoration: none;
    color: black;
}

.view_div {
    margin: auto; display: flex; justify-content: center;
    user-select: none;
}

.emoji_box {
    /* always a square */
    width: 20vmin;
    padding-top: 20vmin;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightsteelblue;
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
    border-radius: 5vmin;

    text-align: center;
}

.emoji_box span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); /* 使文本居中 */

    font-size: 10vmin
}

.view_gap {
    width: 15vmin;
    max-height: 20vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.view_gap #vs {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    font-size: 5vmin;
}

.view_gap #timer {
    position: absolute;
    top: 80%; left: 50%;
    transform: translate(-50%, -50%);

    font-size: 4vmin;
    font-family:'Comic Sans MS', cursive, sans-serif
}

.view_gap #score {
    position: absolute;
    top: 20%; left: 50%;
    transform: translate(-50%, -50%);

    font-size: 4vmin;
    font-family:'Comic Sans MS', cursive, sans-serif
}