.names_div {
    margin: auto; display: flex; justify-content: center;
}

.name_box {
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;


    text-align: center;
}

.name_box span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); /* 使文本居中 */

    font-size: 3vw
}

.name_gap {
    width: 15vw;
    max-height: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
