{% extends "base.html" %}

{% block title %}
    <title>用户主页</title>
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block body %}
    <p id="user_name">  </p>
    <span id="info" style="display: none;">
    <div class="stats_box" id="stats_basic">
        <p id="join_date"></p>
    </div>
    <div class="stats_box" id="stats_rps">
        <p style="font-weight: bold;">石头剪刀布</p>
        <p id="rps_win_lose"></p>
    </div>

    <div id="username_div" style="display: none;">
        {{ username|json_script:"username" }}
    </div>
    </span>
{% endblock %}

{% block src %}
    {% load static %}
    <script src="{% static 'accounts/js/profile.js' %}"></script>
{% endblock %}