<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static '214web/css/navibar.css' %}">

    {% block head %}
    
    {% endblock %}

    {% block title %}
    <title>214WebServer</title>
    {% endblock %}
</head>

<body>
    {% block navibar_body %}
    <ul class="navibar">
        <li class="left"><a style="font-family:'Comic Sans MS', cursive, sans-serif">214WebServer</a></li>
        <li class="left"><a class="navibar-block-text" href="/chat">聊天</a></li>
        <div class="dropdown">
            <a class="dropbtn">账号</a>
            <div class="dropdown-content">
                <a href="/accounts/login">登录</a>
                <a href="/accounts/register">注册</a>
                <a href="/accounts/logout">登出</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn">游戏</a>
            <div class="dropdown-content">
                <a href="/rps">石头剪刀布</a>
            </div>
        </div>
        <li class="right"><a class="navibar-block-text" href="/setting">设置</a></li>
    </ul>
    {% endblock %}

    {% block info %}
    <span id="background_color" style="display: none;">{{ request.user.background_color }}</span>
    {% endblock %}

    {% block body %}
    <p> 214nbnb </p>
    {% endblock %}

    {% block src %}
    {% endblock %}

    {% load static %}
    <script src="{% static '214web/js/customSetting.js' %}"></script>
</body>
</html>