{% extends "base.html" %}

{% block title %}
    <title>石头剪刀布</title>
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rps/css/game_gameview_display.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rps/css/game_choices_display.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rps/css/game_names_display.css' %}">
{% endblock %}

{% block body %}
    <h1>在线石头剪刀布</h1>
    <div id="status" style="display: none;"></div>
    <div class="view_div">
        <div class="player_box">
            <div class="emoji_box">
                <span id="emoji_left">❔</span>
            </div>
            <div style="display: flex; justify-content: center; max-width: 20vw;">
                <a class="names" id="name_left" target="_blank">{{ request.user.username }}</a>
            </div>
        </div>
        <div class="view_gap">
            <span id="score" style="width: 15vw;"></span>
            <span id="vs" style="width: 15vw;">🆚</span>
            <span id="timer" style="width: 15vw;"></span>
        </div>
        <div class="player_box">
            <div class="emoji_box">
                <span id="emoji_right">❔</span>
            </div>
            <div style="display: flex; justify-content: center; max-width: 20vw;">
                <a class="names" id="name_right" target="_blank"> ? </a>
            </div>
        </div>
    </div>
    <br>
    <div id="choices_div">
        <div class="choice_box" onclick="makeChoice('rock')">
            <span>🪨</span>
        </div>
        <div class="choice_gap"></div>
        <div class="choice_box" onclick="makeChoice('scissors')">
            <span>✂️</span>
        </div>
        <div class="choice_gap"></div>
        <div class="choice_box" onclick="makeChoice('paper')">
            <span>📃</span>
        </div>
    </div>
    <br>
    <div id="gameid_div" style="display: none;">
        {{ game_id|json_script:"game-id" }}
    </div>

{% endblock %}

{% block src %}
    {% load static %}
    <script src="{% static 'rps/js/game.js' %}"></script>
{% endblock %}
